#userShowMainBar {

}

#userShowHeaderWelcome {

}

#userCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 25px;
    padding: 50px;
}

#userRecruitsContainer {
    display: grid;
    background-color: darkgray;
    border-radius: 8px;
    color: black;
}

#userRecommendedRecruitsCard {
    display: grid;
    background-color: darkgray;
    border-radius: 8px;
    color: black;
}

#userToDoCard {
    display: grid;
    background-color: darkgray;
    border-radius: 8px;
    color: black;
}