#userShowMainBar {
    display: grid;
    justify-self: center;
    border-color: white;
    border-style: solid;
    margin-top: 32px;
}

#userShowHeaderWelcome {
    display: grid;
    justify-self: center;
}

#userToDatabaseForm {
    display: grid;
    justify-self: center;
}

#userToDatabaseButton {
    display: grid;
    justify-self: center;
}

#userCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 25px;
    padding: 50px;
}

#userRecruitsContainer {
    display: grid;
    background-color: darkgray;
    border-radius: 8px;
    color: black;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#userRecommendedRecruitsCard {
    display: grid;
    background-color: darkgray;
    border-radius: 8px;
    color: black;
    max-height: 450px;
    min-height: 200px;
    grid-column: 2 / 4;
}

#userToDoCard {
    display: grid;
    background-color: darkgray;
    border-radius: 8px;
    color: black;
    max-height: 450px;
    min-height: 200px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}