<h1>This will be the signup page</h1>
<h1>...but for now, just click the button to get to the database...</h1>

<form id="goToDatabase" action="/players" method="get">
    <input type="submit" value="Go to Database">
</form>
