<p>Hello, <%= @user.username %></p>

  <form id="toDatabase" action="/players" method="get">
    <button type="submit">Database</button>
  </form>


<!-- What do we want to include in this view?


Some thoughts:

A list of this users Recruits that are being Actively Recruited?
A list of "New Recruits" that fits a configured alert system bringing potential new recruits to the users attention?
A link to the main database
A Calendar of Recruiting To-Do items to help the user manage their recruting schedule?
>>>Maybe with an option to Email the user with their daily to-do items for recruiting?
>>>LONG TERM---Maybe the can set up an email campaign checking in with their recruits (drip campaigns?)

>