<h1>The Last Recruiting Tool You'll Ever Need</h1>

<form id="goToDatabase" action="/players" method="get">
    <input type="submit" value="Go to Database">
</form>

<div id="homePageCardsContainer">
    <div id="loginCardContainer">
        <form id="login" action="/session/new" method="get">
            <input type="submit" value="Login">
        </form>

        <form id="signup" action="/user/new" method="get">
            <input type="submit" value="Signup">
        </form>
    </div>
    <div id="aboutCardContainer">
        --Who We Are--
    </div>
    <div id="productsCardContainer">
        --Our Products--
    </div>
    <div id="newsReleasesCardContainer">
        --This is the News for the Site--
    </div>
</div>