<h1>The Last Recruiting Tool You'll Ever Need</h1>

<div id="homePageCardsContainer">
    <div id="loginCardContainer">
        <form id="login" action="/session/new" method="get">
            <input type="submit" value="Login">
        </form>

        <form id="signup" action="/user/new" method="get">
            <input type="submit" value="Signup">
        </form>
    </div>
    <div id="aboutCardContainer">
        --Who We Are--

        I am a current collegiate assistant coach who has spent the better part of my career frustrated with miscommunication and bad data on potential recruits.
        It is my hope that this tool will make communication more efficient, and provide a centralized location for all information relevant to recruiters who 
        are trying to identify the right athletes to recruit to their program.  

        Here you will find real data.  No more having to click Google, or browse other websites who are dependent upon the athlete or coach entering their roster data.
        It's all here.  It's all yours.  Happy Recruiting.
    </div>
    <div id="productsCardContainer">
        --Our Products--
    </div>
    <div id="newsReleasesCardContainer">
        7/6/20 -- Password Reset Functionality is Fully Operational 
        <br>
        No further direct access to the database will be allowed without a login.
        <br>
        <br>
        6/1/20 -- State of Oregon - Women's Basketball - Added to database
    </div>
</div>